#app-page {
   height: 100vh;
   background: linear-gradient(180deg, rgba(0, 150, 136, 1) 0%, rgba(0, 150, 136, 1) 15%, rgba(214, 219, 216, 1) 15%);
}

/* general */
#app {
   height: 95%;
   background-color: #fff;
}

header i,
#search-contact i {
   color: #b1b1b1;
}

header,
footer {
   /* todo rimuovere */
   height: 70px;
   background-color: #eaeaea;
}

/* Contacts */
#contacts {
   border-right: 1px solid rgba(0, 0, 0, 0.5);
}

/* *User */
#user-img {
   border-radius: 50%;
   overflow: hidden;
}
#contacts header img {
   height: 60px;
}

/* *Notification */
#notification {
   /* todo rimuovere */
   height: 85px;
   background-color: #8edafc;
}
#notification div.d-inline-block {
   background-color: #fff;
   height: 60px;
   width: 60px;
   border-radius: 50%;
}
#notification i {
   color: #8edafc;
}
#notification a {
   color: #979797;
}
/* *Search contact */
#search-contact {
   height: 50px;
   background-color: #fafafa;
}
.input-group-text {
   background-color: #fff;
}
.form-control {
   border-left: none;
}

/* Contacts list */
#contacts main {
   overflow-y: scroll;
   height: calc(100% - 205px);
}
#contacts main > div {
   height: 85px;
   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* Messages */
#messages main {
   background-image: url(../img/mine.jpg);
   overflow-y: scroll;
   height: calc(100% - 140px);
}
.user-message {
   min-height: 65px;
   background-color: #d5f9ba;
   border-radius: 15px;
}
.addressee-message {
   min-height: 65px;
   background-color: #fff;
   border-radius: 15px;
}
