#app-page {
   height: 100vh;
   background: linear-gradient(180deg, rgba(0, 150, 136, 1) 0%, rgba(0, 150, 136, 1) 15%, rgba(214, 219, 216, 1) 15%);
}

/* *******SCROLLBAR */
/* width */
::-webkit-scrollbar {
   width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
   background: #f1f1f127;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: #dbd4ca;
   border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: #b8b2a9;
}
/* *************general */
#app {
   height: 95%;
   background-color: #fff;
}

header i,
#search-contact i,
footer i {
   color: #b1b1b1;
}
header i {
   font-size: 1.5rem;
   cursor: pointer;
}
header i:hover,
footer i:hover {
   color: rgb(173, 216, 230);
   transition: color 0.1s linear;
}
header i:active,
footer i:active {
   color: rgb(108, 146, 250);
}

header,
footer {
   /* todo rimuovere */
   height: 70px;
   background-color: #eaeaea;
}

/*************************| left CONTAINER CONTACTS************************ */
#contacts {
   border-right: 1px solid #dbd4ca;
}
/**************************# User************************* */
.user-icon {
   border-radius: 50%;
   overflow: hidden;
}
.user-icon > img {
   height: 60px;
}

/**************************# Notification************************* */
#notification {
   /* todo rimuovere */
   height: 85px;
   background-color: #8edafc;
}
#notification div.d-inline-block {
   background-color: #fff;
   height: 60px;
   width: 60px;
   border-radius: 50%;
}
#notification i {
   color: #8edafc;
}
#notification a {
   color: #979797;
}
/***************************# Search contact************************** */
#search-contact {
   height: 50px;
   background-color: #fafafa;
}
.input-group-text {
   background-color: #fff;
}
.search-container {
   position: relative;
}
.search-lens {
   position: absolute;
   font-size: 1.2rem;
   top: 50%;
   left: 15px;
   transform: translateY(-50%);
   z-index: 3;
}
#search-contact input.form-control {
   border-radius: 9px;
   padding-left: 54px;
}

/*********************************# Contacts list******************* */
#contacts .main {
   overflow-y: auto;
   height: calc(100% - 205px);
}
#contacts .main .col-12 {
   height: 80px;
   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#contacts .main .col-12:last-child {
   border-bottom: none;
}
.selected-contact {
   background: linear-gradient(90deg, rgba(105, 105, 105, 0.5) 0%, rgba(219, 212, 202, 0.5) 69%, rgba(219, 212, 202, 0.5) 100%);
}

/*************************| RIGHT CONTAINER MESSAGES************************ */
/*********************************# Messages *********************** */
#messages .main {
   background-image: url(../img/mine.jpg);
   overflow-y: auto;
   height: calc(100% - 140px);
}
.message-text {
   max-width: 42%;
   position: relative;
}

.date {
   font-size: 11px;
   text-align: right;
   padding-right: 3px;
   padding-left: 3px;
}
.sent,
.received {
   min-height: 65px;
   border-radius: 10px;
}
.sent {
   background-color: #d5f9ba;
}
.received {
   background-color: #fff;
}

/* DROPDOWN messages */
.message-text .dropdown {
   position: absolute;
   top: 3px;
   right: 3px;
}
.dropdown i {
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 0.9rem;
   background-color: #ffffff00;
   color: rgb(108, 117, 125);
   height: 1.2rem;
   width: 1.2rem;
}
.dropdown i:active + .menu-dropdown,
.dropdown i:active + .r-menu-dropdown {
   display: flex;
}
.menu-dropdown,
.r-menu-dropdown {
   position: absolute;
   top: 100%;
   list-style-type: none;
}
.menu-dropdown {
   transform: translateX(calc(-100% + 1.2rem));
}
.r-menu-dropdown button,
.menu-dropdown button {
   border: 1px solid rgba(0, 0, 0, 0.42);
   background-color: white;
   border-radius: 9px;
}
.dropdown-item:active {
   background-color: #e9ecef;
   color: #000;
}

/* #Footer icons*/
footer i {
   cursor: pointer;
}
