<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
   <link rel="stylesheet" href="css/style.css" type="text/css">
   <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
   <title>VUE Boolzapp</title>
</head>

<body>
   <div id="app-page">
      <div id="root" class="h-100 d-flex align-items-center">
         <!-- Container App -->
         <div id="app" class="container">
            <div class="row h-100">
               <!-- #Container Contacts -->
               <div id="contacts" class="col-4 h-100">
                  <!-- User icon and name -->
                  <header class="row">
                     <div class="col-12">
                        <div class="row align-items-center justify-content-between h-100">
                           <!-- User pic and name-->
                           <div class="col d-flex align-items-center">
                              <div class="user-icon d-inline-block"><img class="img-fluid"
                                    :src="`img/avatar` + user.avatar + '.jpg'" alt="User Pic"></div>
                              <span class="fw-bold fs-5 ps-2">{{user.name}}</span>
                           </div>
                           <!-- User icons -->
                           <div class="col d-flex align-items-center justify-content-end">
                              <i class="fas fa-circle-notch ms-3"></i>
                              <i class="fas fa-comment-alt ms-3"></i>
                              <i class="fas fa-ellipsis-v ms-3"></i>
                           </div>
                        </div>
                     </div>
                  </header>
                  <!-- Notification -->
                  <section id="notification" class="row">
                     <div class="col-12 d-flex align-items-center">
                        <div class="d-inline-block d-flex align-items-center justify-content-center ms-2"><i
                              class="fas fa-bell-slash fa-2x"></i>
                        </div>
                        <div class="ps-3">
                           <p class="m-0 fw-bold">Ricevi notifiche di nuovi messaggi</p>
                           <a href="">Attiva notifiche desktop</a>
                        </div>
                     </div>
                  </section>
                  <!-- Search -->
                  <section id="search-contact" class="row align-items-center">
                     <div class="col-12">
                        <div class="input-group flex-nowrap">
                           <span class="input-group-text"><i class="fas fa-search"></i></span>
                           <input type="text" class="form-control" placeholder="Cerca o inizia una nuova chat">
                        </div>
                     </div>
                  </section>
                  <!-- Contacts list -->
                  <section class="main row">
                     <div class="col-12 flex-column">
                        <!--! VUE Contacts  -->
                        <div class="row">
                           <div v-for="(contact, index) in contacts"
                              class="col-12 d-flex align-items-center py-2 single-contact" @click="selectContact(index)"
                              role="button">
                              <div class="user-icon">
                                 <img class="img-fluid" :src="'img/avatar' + contact.avatar + '.jpg'" alt="">
                              </div>
                              <p class="fw-bold ps-3 fs-5 align-self-start">{{contact.name}}</p>
                           </div>
                        </div>
                     </div>
                  </section>
               </div>
               <!-- #Container Messages -->
               <div id="messages" class="col-8 h-100">
                  <!-- Contact Chat -->
                  <header class="row">
                     <div class="col-12">
                        <div class="row align-items-center justify-content-between h-100">
                           <!--! VUE User pic and name-->
                           <div v-for="(contact, index) in contacts" v-if="contact.visible"
                              class="col d-flex align-items-center">
                              <div class="user-icon d-inline-block"><img class="img-fluid"
                                    :src="'img/avatar' + contact.avatar + '.jpg'" alt="User Pic"></div>
                              <div class="ps-2 flex-column">
                                 <span class="fw-bold fs-5">{{contact.name}}</span>
                                 <span class="d-block">Ultimo accesso oggi alle...</span>
                              </div>
                           </div>
                           <!-- User icons -->
                           <div class="col d-flex align-items-center justify-content-end">
                              <i class="fas fa-search ms-3"></i>
                              <i class="fas fa-paperclip ms-3"></i>
                              <i class="fas fa-ellipsis-v mx-3"></i>
                           </div>
                        </div>
                     </div>
                  </header>
                  <!-- Messages -->
                  <section class="main row">
                     <div class="col-12">
                        <div class="px-5 py-3">
                           <!-- ! VUE Creation messages -->
                           <div v-for="contact in contacts" v-if="contact.visible" class="row">
                              <!-- User Message -->
                              <div v-for="message in contact.messages" class="col-12 d-flex"
                                 :class="{'justify-content-end': message.status === 'sent'}">
                                 <div class="message-text my-2"
                                    :class="message.status === 'sent' ? 'user-message' : 'addressee-message'">
                                    <p class="p-2 mb-0">{{message.text}}</p>
                                    <p class="date text-secondary mb-1">{{message.date}}</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </section>
                  <!-- Message input -->
                  <footer class="row">
                     <div class="col-1 d-flex align-items-center justify-content-center">
                        <i class="far fa-smile-wink fa-2x"></i>
                     </div>
                     <!-- Input field -->
                     <div class="col-10 d-flex align-items-center">
                        <div class="input-group">
                           <input type="text" class="form-control" placeholder="Scrivi un messaggio"
                              v-on:keyup.enter="addMessage" v-model="user.message">
                        </div>
                     </div>
                     <div class="col-1 d-flex align-items-center justify-content-center">
                        <i class="fas fa-microphone fa-2x"></i>
                     </div>
                  </footer>
               </div>
            </div>
         </div>
      </div>
   </div>
   <script src="js/script.js"></script>
</body>

</html>